body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 60px;
    background: black;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 15px grey;
}

.container {
    width: 300px;
    height: 60px;
    float: right;
    background: url('assets/pacman_wallpaper.jpg');
    background-size: contain;
}

* {
    box-sizing: border-box;
}

#title, #score_label {
    text-align: center;
    color: #424242;
}

#title {
    margin: 0;
    padding: 0;
    position: relative;
    top: 18px;
    left: 32px;
    float: left;
    color: #69f0ae;
}

#score_label {
    position: relative;
    top: 40px;
    font-size: 20px;
    font-weight: bold;
}

.tile {
    width: 25px;
    height: 25px;
    justify-content: space-between;
}

.wallTile {
    background: url('assets/wall1.png');
}

.roadTile {
    background: white;
}

.pointTile {
    background: url('assets/basic_point.png');
}

.playerTile {
    background: url('assets/playerLeft.png');
}

.ghostTile {
    /* background: url('assets/ghost.png'); */
}

.move_up {
    background: url('assets/playerUp.png');
}

.move_down {
    background: url('assets/playerDown.png');
}

.move_left {
    background: url('assets/playerLeft.png');
}

.move_right {
    background: url('assets/playerRight.png');
}

.blinky {
    background: url('assets/blinky.png');
}

.inky {
    background: url('assets/inky.png');
}

.pinky {
    background: url('assets/pinky.png');
}

.clyde {
    background: url('assets/clyde.png');
}

.powerUpTile {
    background: url('assets/powerup.png');
}

.gameOverPlayer {
    background: url('assets/gameover_player.png');
}

.scaredGhost {
    background: url('assets/scaredGhost.png');
}

#map {
    width: 425px;
    height: 425px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
    position: relative;
    top: 50px;
}