body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    height: 60px;
    background: #607d8b;
    box-shadow: 0 0 15px #424242;
}

.container {
    width: 50%;
    height: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
}

.game_option {
    margin: 12px 32px;
    padding: 0 20px;
    height: 32px;
    background: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    transition: .5s;
}

.game_option:hover {
    background: #cfd8dc;
}

#map {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
    position: relative;
    top: 50px;
}

.tile {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    background: #ff6f00;
}

.bomb {
    background: url('assets/bomb.png');
}

.dataTile {
    text-align: center;
    position: relative;
    top: -10px;
    font-weight: bold;
}

.visited {
    background: #c5cae9;
}

.hidden {
    display: none;
}

.hidden_bomb {
    background:#ff6f00;
}

.hidden_zero {
    background:#c5cae9;
    color: #c5cae9;
}