#map {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
    position: relative;
    top: 90px;
}

.tile {
    width: 30px;
    height: 30px;
    background: #b0bec5;
    border: 1px solid black;
}